@import url("https://fonts.googleapis.com/css?family=Heebo:100");
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Heebo', sans-serif; }

html, body {
  height: 100%; 
  background-color: #FAEEE7;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  background: #FAEEE7;
 }

.container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; 
}

.iphone {
  position: absolute;
  height: 875px;
  width: 423px;
  padding: 0 15px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background: #111;
  border: 5px solid #3D3D3D;
  -moz-border-radius: 50px 50px 50px 50px;
  -webkit-border-radius: 50px 50px 50px 50px;
  border-radius: 50px 50px 50px 50px;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999, 0 0 30px 0px rgba(0, 0, 0, 0.7);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  transform: scale(0.6); }
  .iphone .buttons .silent,
  .iphone .buttons .vol-up,
  .iphone .buttons .vol-down,
  .iphone .buttons .sleep {
    background: #111;
    position: absolute;
    -moz-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px; }
  .iphone .buttons .silent {
    height: 40px;
    width: 3px;
    top: 100px;
    left: -8px; }
  .iphone .buttons .vol-up,
  .iphone .buttons .vol-down {
    left: -8px;
    height: 60px;
    width: 4px; }
  .iphone .buttons .sleep {
    left: auto;
    right: -8px;
    top: 180px;
    height: 100px;
    width: 4px;
    -moz-border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0; }
  .iphone .buttons .vol-up {
    top: 170px; }
  .iphone .buttons .vol-down {
    top: 250px; }
  .iphone .top {
    position: absolute;
    top: 4px;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    z-index: 4;
    -webkit-filter: url("#goo");
    -moz-filter: url("#goo");
    -o-filter: url("#goo");
    filter: url("#goo"); }
    .iphone .top .black-bar {
      position: absolute;
      height: 1px;
      width: 70%;
      padding-top: 2px;
      background: #111; }
    .iphone .top .iphone-top {
      position: relative;
      height: 40px;
      width: 55%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -moz-border-radius: 0 0 20px 20px;
      -webkit-border-radius: 0 0 20px 20px;
      border-radius: 0 0 20px 20px;
      background: #111;
      z-index: 2; }
  .iphone .components {
    position: absolute;
    top: 20px;
    padding-left: 12px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    .iphone .components .speaker {
      height: 6px;
      width: 70px;
      margin: 0 30px;
      -moz-border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      border-radius: 6px 6px 6px 6px;
      border-bottom: 1px solid #333;
      background: #222;
      z-index: 100; }
    .iphone .components .camera {
      height: 15px;
      width: 15px;
      -moz-border-radius: 50% 50% 50% 50%;
      -webkit-border-radius: 50% 50% 50% 50%;
      border-radius: 50% 50% 50% 50%;
      border-bottom: 1px solid #444;
      background: radial-gradient(black, #333);
      opacity: 0.5;
      z-index: 4; }
      .iphone .components .camera .shine-left {
        position: absolute;
        height: 10px;
        width: 10px;
        margin: 2px;
        border-left: 4px solid dodgerblue;
        border-right: transparent;
        background: black;
        -moz-border-radius: 50% 50% 50% 50%;
        -webkit-border-radius: 50% 50% 50% 50%;
        border-radius: 50% 50% 50% 50%;
        -webkit-filter: blur(1.8px);
        -moz-filter: blur(1.8px);
        -o-filter: blur(1.8px);
        filter: blur(1.8px); }
        .iphone .components .camera .shine-left:before {
          content: '';
          position: absolute;
          right: 0px;
          height: 8px;
          width: 8px;
          border-right: 2px solid white;
          -moz-border-radius: 4px 4px 4px 4px;
          -webkit-border-radius: 4px 4px 4px 4px;
          border-radius: 4px 4px 4px 4px; }
  .iphone .top-bar, .iphone .bottom-bar {
    position: absolute;
    left: -5px;
    height: 15px;
    width: 423px;
    border-left: 5px solid #111;
    border-right: 5px solid #111; }
  .iphone .top-bar {
    top: 65px; }
  .iphone .bottom-bar {
    bottom: 65px; }
  .iphone .screen {
    position: absolute;
    height: calc(100% - 12px);
    width: calc(100% - 12px);
    margin: 0 auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.9);
    -moz-border-radius: 40px 40px 40px 40px;
    -webkit-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;
    overflow: hidden; }
    .iphone .screen .info {
      position: absolute;
      top: 140px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
    .iphone .screen .time {
      position: absolute;
      top: 8px;
      left: 30px;
      line-height: 1px;
      color: white;
      font-size: 1.2em;
      font-weight: 200; }
    .iphone .screen .lock-lock {
      position: absolute;
      top: 95px;
      height: 26px;
      width: 34px;
      background: white;
      -moz-border-radius: 3px 3px 3px 3px;
      -webkit-border-radius: 3px 3px 3px 3px;
      border-radius: 3px 3px 3px 3px; }
      .iphone .screen .lock-lock:before {
        content: '';
        position: absolute;
        top: -18px;
        right: 4px;
        height: 30px;
        width: 26px;
        border: 4px solid white;
        -moz-border-radius: 26px 26px 26px 26px;
        -webkit-border-radius: 26px 26px 26px 26px;
        border-radius: 26px 26px 26px 26px; }
    .iphone .screen .lock-carrier,
    .iphone .screen .lock-time,
    .iphone .screen .lock-date {
      color: white; }
    .iphone .screen .lock-time {
      margin: 2rem 0 1.6rem 0;
      line-height: 3rem; }
    .iphone .screen .lock-carrier {
      position: absolute;
      top: 11px;
      left: 42px;
      font-weight: 200;
      font-size: 0.9em; }
    .iphone .screen .lock-time {
      font-size: 6em;
      font-weight: 100;
      color: white; }
    .iphone .screen .lock-date {
      font-weight: 100;
      font-size: 1.5em; }
    .iphone .screen .lock-swipe,
    .iphone .screen .lock-bar,
    .iphone .screen .service {
      position: absolute;
      font-family: "Helvetica Neue", sans-serif; }
    .iphone .screen .lock-swipe {
      bottom: 25px;
      font-size: 1.1em;
      font-weight: 100;
      color: white; }
    .iphone .screen .lock-bar {
      bottom: 10px;
      height: 4px;
      width: 45%;
      -moz-border-radius: 2px 2px 2px 2px;
      -webkit-border-radius: 2px 2px 2px 2px;
      border-radius: 2px 2px 2px 2px;
      background: white; }
    .iphone .screen .service {
      top: 12px;
      left: 12px;
      height: 14px;
      width: 25px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -ms-flex-pack: space-between;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      align-items: flex-end; }
      .iphone .screen .service .bar {
        width: 4px;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -moz-border-radius: 1px 1px 1px 1px;
        -webkit-border-radius: 1px 1px 1px 1px;
        border-radius: 1px 1px 1px 1px;
        background: white; }
        .iphone .screen .service .bar:first-child {
          height: 2px; }
        .iphone .screen .service .bar:nth-child(2) {
          height: 6px; }
        .iphone .screen .service .bar:nth-child(3) {
          height: 10px; }
        .iphone .screen .service .bar:last-child {
          height: 14px; }
    .iphone .screen .battery {
      position: absolute;
      top: 11px;
      right: 32px;
      height: 16px;
      width: 32px;
      border: 1px solid white;
      -moz-border-radius: 2px 2px 2px 2px;
      -webkit-border-radius: 2px 2px 2px 2px;
      border-radius: 2px 2px 2px 2px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      .iphone .screen .battery .nub,
      .iphone .screen .battery .energy {
        position: absolute;
        background: white; }
      .iphone .screen .battery .nub {
        top: 4px;
        right: -4px;
        height: 6px;
        width: 2px;
        -moz-border-radius: 0 4px 4px 0;
        -webkit-border-radius: 0 4px 4px 0;
        border-radius: 0 4px 4px 0; }
      .iphone .screen .battery .energy {
        left: 1px;
        height: 12px;
        width: 18px;
        -moz-border-radius: 1px 0 0 1px;
        -webkit-border-radius: 1px 0 0 1px;
        border-radius: 1px 0 0 1px; }

@media screen and (max-height: 500px) {
  .iphone {
    -moz-transform: scale(0.35);
    -o-transform: scale(0.35);
    -ms-transform: scale(0.35);
    -webkit-transform: scale(0.35);
    transform: scale(0.35); } }




    