body{
    font-family: 'Lato', sans-serif;
}

.section--projects{
    display: flex;
    flex-wrap: wrap;
}

.bg-yellow{
    background-color: #fad400 !important;
}

.divider--about{
    width: 80%;
    margin: auto;
    border: 0.5px solid #272343;
    opacity: 100%;
    border-radius: 5px;
}

.container--about{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.center{
    justify-content: center;
}

.container--project{
    margin: 2%;
    width: 20rem;
    height: 20rem;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container--info{
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: 0.4s;
}

.container--title{
    width: 100%;
    display: block;
    text-align: center;
}

.info--project{
    display: block;
    padding: 3%;
    text-align: center;
    color: white;
    font-size: 0.9rem;
}

.info--project a{
    text-decoration: none;
    padding: 3%;
    border-radius: 10px;
    background-color: #ffd803;
    border: #ffd803;
    color: #272343;
    font-size: 1rem;
}

.info--project a:hover{
    background-color: #272343;
    color: #fffffe;
}

.container--project:hover .container--info{
    display: flex;
}

.container--info:hover{
    background-color: rgba(0, 0, 0, 0.568);
}