{% extends "base.html" %} {% block head %}
<title>butterfly</title>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
  rel="stylesheet"
/>

<!--Plain styling-->
<link href="../static/styles/home.css" rel="stylesheet" />

<!--Bootstrap-->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>

<!-- iphone -->
<link href="../static/styles/iphone.css" rel="stylesheet" />
<link rel="import" href="../static/styles/iphone.css" />
<link rel="import" href="./iphone.html" />

<link href="../static/styles/carousel.css" rel="stylesheet" />
<link rel="import" href="../static/styles/carousel.css" />
<link rel="import" href="./carousel.html" />

{% endblock %} {% block content %}

<!--Hero-->
<div id="hero">
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  <lottie-player
    src="https://assets8.lottiefiles.com/packages/lf20_xzIOCI.json"
    background="transparent"
    speed="1"
    style="width: 400px; height: 400px"
    loop
    autoplay
  ></lottie-player>
  <div class="text-overlay">
    <h1>butterfly</h1>
    <div>
      <h2>Events for you, near you.</h2>
    </div>

    <div class="fellows-container">
      <a class="btn--home" href="https://github.com/MLH-Fellowship/butterfly"
        >View on GitHub</a
      >
    </div>
  </div>
</div>

<!--Meet the Team-->
<div id="meet-team">
  <div class="col-md-6">
    <h2 class="team-heading">Who We Are</h2>
    <h4>
      Butterfly is an application built with a django and graphql backend and
      flutter front end. This application is intended to cultivate a community
      of activists so they are effectively able to communicate their events.
      Users can post events and choose to attend certain events based on the
      event list.
    </h4>
    <div class="fellows-container">
      <a class="btn--home" href="https://github.com/MLH-Fellowship/butterfly"
        >View on GitHub</a
      >
    </div>
    <div class="col-md-6 container">
      <div class="iphone">
        <div class="buttons">
          <div class="silent"></div>
          <div class="sleep"></div>
          <div class="vol-up"></div>
          <div class="vol-down"></div>
        </div>

        <div class="screen"></div>
        <video
          preload="auto"
          loop="loop"
          autoplay="autoplay"
          muted="muted"
          width="100%"
        >
          <source src="../static/media/Simulator.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>
<!--meet team-->

{% endblock %}
